@import "tailwindcss";
body {
  background-color: #374151
; /* Dark gray background */
}
button
{
background-color: #5c6afa;
text-color:#7c86ff;
}
text{
    color:#6873eb
}
/* This file should contain Tailwind utility classes */

